div.api-key-list-page-header {
  div.label-search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    div.label-icon {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      flex-wrap: nowrap;
      gap: 5px;

      h3 {
        white-space: nowrap;
        margin: 0;
        font-size: 1.5rem;
      }

      h3.component {
        white-space: nowrap;        
        font-size: 1.3rem;
      }      
    }
  }
  
  div.paginator-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    padding-left: 3px;      
    padding-right: 3px;

    div.paginator {
      display: flex;
      flex-direction: row;
      justify-content: center;      
    }     
  }
}

@media screen and (max-width: 575px) {
  div.api-key-list-page-header {
    div.label-search-container {
      div.label-icon {

        h3 {
          margin: 0;
          font-size: 1.25rem;
        }

        h3.component {
          font-size: 1.1rem;
        }      
      }
    }

    div.paginator-button {
      display: inline-block;
      width: 100%;
      height: fit-content;
      margin-bottom: 5px;
      
      .place-holder {
        display: none;
      }

      div.paginator {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;      
      }
      
      div.action-button {
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: end;
        padding-top: 5px;
      }     
    }
  }  
}