div.search-input {
  max-width: 500px;
  width: 100%;
  transition: max-width .3s ease;
}

@media screen and (max-width: 850px) {
  div.search-input {
    max-width: 100px;
    &:focus-within {
      max-width: 250px;
    }
  }
}

div.auth-content-container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  min-height: 100vh;
  div.inner-content {
    margin: .75rem 1.5rem;
    border-radius: .75rem;
    width: 100%;
    padding: 1.5rem;
    background-color: #F0ECE0;
    max-width: 42rem;
  }
}

div.input-data-list {
  overflow-y: auto;
  ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    border: 1px rgb(206, 206, 206) solid;
    border-radius: 4px;
    font-size: 1em;
    li {
      padding: 3px;
      border-bottom: 1px rgb(206, 206, 206) solid;
      &:hover {
        cursor: pointer;
      }
      &:last-child {
        border-bottom: none;
      }
      div {
        user-select: none;
        padding: 8px;        
        border-radius: 7px;
        &:hover {
          background-color: rgb(238, 238, 238);          
        }
        &.selected {
          background-color: #9DB39D;
          color: white;
        }
      }
    }
  }
}

@keyframes statusPulse {
  0% { filter: brightness(1); }
  40% { filter: brightness(0.85); }
  100% { filter: brightness(1); }
}

.status-pulse {
  animation: statusPulse 0.6s ease-out;
}
