html, body { overflow-x: hidden; }

body {
  background-color: rgb(157, 179, 157);
  color: black;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding-top: 4.1rem;
  width: 100%;  
  background-color: #9DB39D;
  display: flex;
  flex-direction: row;
  justify-content: center;

  &.home {
    background-color: #f5f5f5;
    padding-top: 0;
    background-color: #9DB39D;
  }

  section {
    max-width: 1280px;
    width: 100%;
    display: block;
    padding: 1rem;
    background-color: white;
    min-height: calc(100vh - 4.1rem);
  }  
  
  @media screen and (max-width: 550px) {
    main {
      padding-top: 60px;
    }

    section {
      padding: 0 1rem;
    }
  }
}


