header.app-header {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid grey;
  min-height: 4.2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 

  .header-container {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .logo {
      height: 30px;
      width: auto;
    }

    .header-welcome {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.75rem; // 12px
    }
  }

  ul.main-menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;

      a {
        padding: 1.2rem 0.4rem;
        color: black;
        outline: none;
        display: block; 

        .menu-label {
          display: inline-flex;
          align-items: center;
          border-radius: 6px;
          padding: 2px 4px;
          gap: 5px;
        }

        &:focus {
          background-color: #e7e7e0;
        }

        &:focus .menu-label,
        &:focus-visible .menu-label {
          outline: 1px solid #7F943A;
          outline-offset: 2px;
        }

        &:hover {
          cursor: pointer;
        }

        &.disabled {
          color: rgb(179, 179, 179);
          font-weight: 100;

          &:hover {
            cursor: default;
          }
        }

        &.active {
          font-weight: 400;
          background-color: #7F943A;
          color: white;
          
          &:hover {
            cursor: default;
          }
          
          &:focus .menu-label,
          &:focus-visible .menu-label {
            outline: 1px solid white;
            outline-offset: 2px;
          }          
        }
      }
    }
  }
  
  nav {
    div.dropdown-menu-container {
      position: absolute;
      right: 0;
      top: 3.2rem;
      width: 18rem;
      color: #f5f5f5;

      ul.dropdown-menu {
        display: block;
        list-style-type: none;
        padding: 0;
        margin: 0;
        
        li {
          padding: 0;
          margin: 0;
          border-bottom: rgb(134, 133, 133) 1px solid;    

          a {
            padding: .75rem 0.75rem;
            background-color: #B3B39D;
            color: black;
            outline: none;
            display: block;     
    
            .menu-label {
              display: inline-flex;
              align-items: center;
              gap: 1rem;
              border-radius: 6px;
              padding: 2px 4px;
            width: 100%;    
            }
    
            &:focus .menu-label,
            &:focus-visible .menu-label {
              outline: 1px solid #7F943A;
              outline-offset: 2px;
            }
    
            &.disabled {
              background-color: #9e9e98;
              color: rgb(85, 85, 85);
              font-weight: 100;
    
              &:focus .menu-label,
              &:focus-visible .menu-label,
              &:focus,
              &:hover {
                cursor: default;
                background-color: #9e9e98;
                color: rgb(85, 85, 85);    
                outline: none;
              }
            }        
    
            &:focus,
            &:hover {
              background-color: #D3D3BF;
              cursor: pointer;
            }     
            
            &.active {
              background-color: #7F943A;
              color: white;
              cursor: default !important;

              &:hover {
                background-color: #7F943A;
                color: white;
                cursor: pointer;
              }
            }        
          }
    
          button.dropdown-menu-button {
            color: black;
            background-color: #B3B39D;
            padding: .75rem 0.75rem;
            border: none;
            display: flex;
            align-items: center;
            gap: 0.75rem;
            width: 100%;
            outline: none;
    
            .item-label {
              display: inline-flex;
              border-radius: 6px;
              padding: 1px 4px;
              width: 100%;
            }
    
            &:focus .item-label,
            &:focus-visible .item-label {
              outline: 1px solid #7F943A;
              outline-offset: 2px;
            }          
    
            &:focus,
            &:hover {
              color: #4F4F3E;
              background-color: #e6e3d4;
            }        
        
            &.active {
              background-color: #7F943A;
              color: white;
              cursor: default !important;
              
              &:hover {
                background-color: #7F943A;
                color: white;
                cursor: pointer;
              }
            }
        
            div {
              display: flex;
              align-items: center;
              gap: 1rem;
              padding: 0.25rem;
            }
        
            &:hover {
              background-color: #D3D3BF;
              cursor: pointer;
            }
          }      
        }
      }
    }
  }
}

@media screen and (max-width: 574px) {
  header.app-header {
    ul.main-menu {

      display: block;

      li {
        border-bottom: 1px solid black;
        
        a {
          padding: .5rem .3rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1350px) {
  .header-container {
    padding: 0 1.5rem;
  }
}
