h1 {
  display: block;  
  font-size: 2em;
  padding: .15em 0;
  font-weight: bold;
  unicode-bidi: isolate;
}

h2 {
  display: block;  
  font-size: 1.75em;
  padding: .5em 0;
  font-weight: bold;
  unicode-bidi: isolate;
}

h3 {
  display: block;  
  font-size: 1.5em;
  padding: .5em 0;
  font-weight: bold;
  unicode-bidi: isolate;
}

h4 {
  display: block;  
  font-size: 1.35em;
  padding: 1em 0;
  font-weight: bold;
  unicode-bidi: isolate;
}

h5 {
  display: block;  
  font-size: 1.2em;
  padding: 1em 0;
  font-weight: bold;
  unicode-bidi: isolate;
}

h6 {
  display: block;  
  font-size: 1em;
  padding: .8em 0;
  font-weight: bold;
  unicode-bidi: isolate;
}

p {
  padding: .25rem 0;
}

ul {
  list-style-type: disc;
  display: block;  
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
  padding: 0 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}

a {
  font-size: .9rem;
  text-decoration: underline;
}

a:hover {
  color: #7F943A;
}

a:active,
a:focus {
  outline: 1px #7F943A solid;
  border-radius: 4px;
  outline-offset: 2px;  
  color: #7F943A;
}

@media (max-width:  725px) {
  h1 {
    display: block;  
    font-size: 1.6em;
    padding: .15em 0;
    font-weight: bold;
    unicode-bidi: isolate;
  }

  h2 {
    display: block;  
    font-size: 1.5em;
    padding: .5em 0;
    font-weight: bold;
    unicode-bidi: isolate;
  }

  h3 {
    display: block;  
    font-size: 1.3em;
    padding: .5em 0;
    font-weight: bold;
    unicode-bidi: isolate;
  }

  h4 {
    display: block;  
    font-size: 1.2em;
    padding: 1em 0;
    font-weight: bold;
    unicode-bidi: isolate;
  }

  h5 {
    display: block;  
    font-size: 1.1em;
    padding: 1em 0;
    font-weight: bold;
    unicode-bidi: isolate;
  }

  h6 {
    display: block;  
    font-size: 1em;
    padding: .8em 0;
    font-weight: bold;
    unicode-bidi: isolate;
  }  
}